<div id="navSidebar" class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <h4>User</h4>
    <div>
        <ul class="nav nav-sidebar">
            <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->

            <li><a id="TestSuiteStatus" href="index.php">Test Status</a></li>
            <li><a id="TemplateVMInfo" href="Template_Information.php">Template VM Information</a></li>
            <li><a id="TemplateAvailability" href="Template_Availability.php">Template Availability</a></li>
        </ul>
    </div>
    <h4>Admin</h4>
    <div>
        <ul class="nav nav-sidebar">
            <li><a id="DeviceProperties" href="Device_Properties.php">Device Properties</a></li>
            <li><a id="ManagerInformation" href="Manager_Information.php">Manager Information</a></li>
            <li><a id="AgentInformation" href="Agent_Information.php">Workflow Agent Information</a></li>
            <li><a id="HypervisorInfo" href="hypervisor_info.php">Hypervisor Information</a></li>
            <li><a id="SUTInformation" href="SUT_Information.php">SUT Information</a></li>
            <li><a id="TestCaseInformation" href="TestCase_Information.php">TestCase Information</a></li>
            <li><a id="SoftwareInformation" href="Software_Information.php">Software Information</a></li>
        </ul>
    </div>
</div>


