<div id="navSidebar" class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <h4>User</h4>
    <div>
        <ul class="nav nav-sidebar">
            <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->

            <li><a id="TestSuiteStatus" href="index.php">Test Status</a></li>
            <li><a id="SoftwareInformation" href="Software.php">Software Information</a></li>
            <li><a id="TemplateVMInfo" href="vm_templates.php">Template VM Information</a></li>
            <li><a id="available_software" href="available_software.php">Software Availability</a></li>
            <li><a id="Workflows" href="workflows.php">Workflows</a></li>
            <li><a id="AgentManagers" href="agent_managers.php">Agent Managers</a></li>
            <li><a id="AvailableWorkflows" href="available_workflows.php">Available Workflows</a></li>
            <li><a id="SutType" href="sut_type.php">Sut Types</a></li>
            <li><a id="Hypervisors" href="hypervisors.php">Hypervisors</a></li>
        </ul>
    </div>
    <h4>Admin</h4>
    <div>
        <ul class="nav nav-sidebar">
            <li><a id="RTS_Properties" href="properties.php">RTS Properties</a></li>
            <li><a id="Available_Status" href="status.php">Available Status</a></li>
            <li><a id="Available_Results" href="results.php">Available Results</a></li>
            <li><a id="ManagerInformation" href="queue_manager.php">Manager Information</a></li>
            <li><a id="HypervisorTypes" href="hypervisor_types.php">Hypervisor Types</a></li>
			<li><a id="TemplateAvailability" href="vm_availability.php">Hypervisor Template Availability</a></li>
			<li><a id="SUTInfo" href="sut_info.php">SUT Info</a></li>
			<li><a id="TestCases" href="test_cases.php">Test Cases</a></li>
			<li><a id="TestCaseScripts" href="test_case_scripts.php">Test Case Scripts</a></li>
			<li><a id="TestCaseLogFiles" href="test_case_logfiles.php">Test Case LogFiles</a></li>
        </ul>
    </div>
</div>


